<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/task-add-and-update.css}">
    <title> Add </title>
    <script src="https://kit.fontawesome.com/018f2343ea.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <div class="cover">
        <div class="front">
            <img th:src="@{/images/workplace.jpeg}" alt="">
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="title">
                <h2>
                    Create a New Task
                </h2>
            </div>
            <form action="/home/add" method="post">
                <div class="input-boxes">
                    <div class="input-box">
                        <!--            <i class="fa-solid fa-envelope"></i>-->
                        <p> Name: </p>
                        <input type="text" name="name" required="">
                    </div>
                    <div class="input-box">
                        <p>Deadline: </p>
                        <!--            <i class="fa-solid fa-cake-candles"></i>-->
                        <input type="date" id="deadline" name="deadline"  required="">
                    </div>
                    <div class="priority">
                        <p>Priority of the task</p>
                        <div class="row">
                            <input type="radio" id="priority1" name="priority" value="1" required>
                            <label for="priority1">Important</label><br>
                        </div>
                        <div class="row">
                            <input type="radio" id="priority2" name="priority" value="2">
                            <label for="priority2">Usual</label><br>
                        </div>
                        <div class="row">
                            <input type="radio" id="priority3" name="priority" value="3">
                            <label for="priority3">Petty</label><br>
                        </div>
                    </div>
                    <div class="note">
                        <p>Note:</p>
                        <textarea name="note" placeholder="Add a note"></textarea>
                    </div>
                    <div class="button">
                        <input type="submit" value="Create"/>
                    </div>
                </div>
            </form>
            <!--      <form action="2003/delete" method="post" class="delete">-->
            <!--          <div class="button">-->
            <!--              <input type="submit" value="Delete the task"/>-->
            <!--          </div>-->
            <!--      </form>-->
            <!--      <form action="2003/complete" method="post">-->
            <!--          <div class="button">-->
            <!--              <input type="submit" value="Complete the task"/>-->
            <!--          </div>-->
            <!--          TODO: since it is task add it needs only one button - fits the frame.
                            In task update page don't put a title and that way all the 3 buttons will fit
            -->
            <!--        TODO: clean up css a bit, put the structure to task add, then change task update and wire it all up-->
            </form>
        </div>
    </div>
</div>
</body>
</html>