<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/task-add-and-update.css}">
    <title>My task</title>
</head>
<body>
<form method="post">
    <div class="name">
        <p>
            <input type="text" name="name" th:value="${task.getName()}" required>
            Name of the task
        </p>
    </div>
    <div class="deadline">
        <p>
            <input type="date" id="deadline" name="deadline" th:value="${task.getDeadline()}" required>
            Deadline of the task
        </p>
    </div>
    <div class="container">
        <div class="priority">
            <p>Priority of the task</p>
            <div class="row">
                <input type="radio" id="priority1" name="priority" value="1" th:checked="${task.getPriority() == 1}" required>
                <label for="priority1">Important</label><br>
            </div>
            <div class="row">
                <input type="radio" id="priority2" name="priority" value="2" th:checked="${task.getPriority() == 2}">
                <label for="priority2">Usual</label><br>
            </div>
            <div class="row">
                <input type="radio" id="priority3" name="priority" value="3" th:checked="${task.getPriority() == 3}">
                <label for="priority3">Petty</label><br>
            </div>
        </div>
        <div class="note">
            <p>
                My note<br>
                <textarea name="note" placeholder="Add a note" th:text="${task.getNote()}"></textarea>
            </p>
        </div>
    </div>
    <div class="button">
        <button type="submit">Update the task</button>
    </div>
</form>

<form th:action="${id} + '/delete'" method="post" class="delete">
    <button type="submit">Delete the task</button>
</form>
<form th:action="${id} + '/complete'" method="post">
    <button type="submit">Complete the task</button>
</form>
</body>
</html>