<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планувальник завдань</title>
</head>
<body>
    <h1>Hello!/Вітаємо!</h1>
    <div>
        <p>Please choose a preferable language</p>
        <p>Виберіть, будь ласка, бажану мову</p>
    </div>
    <form action="/start" method="post">
        <input type="submit" name="preferableLanguage" id="en" value="English">
        <input type="submit" name="preferableLanguage" id="uk" value="Ukrainian">
    </form>
</body>
</html>