:root{
    --first-color:#287dd2;
    --second-color: #53a8b6;
    --third-color: #79c2d0;
    --fourth-color: #bbe4e9;
    --fifth-color: #e3f2f5;
}
html{
    background-color: var(--fifth-color);
    font-size: 24px;
}
span{
    font-size: 1.4rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 0.6rem;
}

.sidebar {
    background-color: var(--fourth-color);
    width: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    padding-left: 0.7rem;
    padding-right: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    font-size: 1.25rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 0.6rem;
    border-radius: 0.4rem;
}
.sidebar ul li.active {
    font-size: 1.25rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
    border-radius: 0.4rem;
    background-color: var(--first-color);
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease
}
.sidebar ul li.active a {
    text-decoration: none;
    color: rgb(227, 227, 227);
}

.sidebar ul li a:hover {
    color: var(--first-color);
}
.sidebar ul li.active a:hover {
    color: rgb(227, 227, 227);
}
