:root{
    --zero-color: #1e62a4;
    --first-color:#287dd2;
    --second-color: #54c2d3;
    --third-color: #7dc7d5;
    --fourth-color: #bbe4e9;
    --fifth-color: #e1f3f6;
    --sixth-color: #f5f8f9;
}